*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    width: 100%;
}

.about-image {
    text-align: center;
    background-image: url('../Images/pexels-creative-vix-9754.jpg');
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 2vw;
    font-size: 5vh;
    max-width: 100%;
    height: auto;
}

body{
}

.about-section{
    text-align: center;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-size: 1rem;
}

.container{
    position: relative;
}

.image-box{
    text-align: center;
}

.footer-container {
    max-width: 130vw;
    margin: 0 auto;
}

footer {
    bottom: 0;
    border-top: 0.2vh solid #dee2e6;
    padding: 2rem 0rem 2rem 0rem;
    font-size: 1.5rem;
    max-width: 85vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-text-box {
    margin-left: 2rem;
}

.icons {
    display: flex;
    gap: 1.5rem;
    margin-right: 2rem;
}

.icon {
    width: 2.4rem;
    color: black;
    margin-right: 1rem;
}

.twitter:hover {
    fill: #1da1f2;
}

.instagram:hover {
    color: #fff;
    background: #d6249f;
    border-radius: 7px;
    background: radial-gradient(circle at 30% 107%,
            #fdf497 0%,
            #fdf497 5%,
            #fd5949 45%,
            #d6249f 60%,
            #285aeb 90%);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

.facebook:hover {
    fill: #4267b2;
}

@media (min-width: 320px){
    .values-text-block{
        bottom: 140px;
        left: 30px;
        font-size: 17px;
        padding-left: 2px;
        padding-right: 2px;
    }
    .staff-text-block{
        bottom: 140px;
        left: 163px;
        font-size: 17px;
        padding-left: 9px;
        padding-right: 8px;
    }
    video{
        width: 80%;
    }
    .video-text-box{
        position: absolute;
        top: 700px;
        left: 100px;
    }
}

@media (min-width: 480px){
    .values-text-block{
        bottom: 160px;
        left: 46px;
        font-size: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .staff-text-block{
        bottom: 160px;
        left: 230px;
        font-size: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (min-width: 768px){
    .values-text-block{
        bottom: 150px;
        left: 110px;
        font-size: 2rem;
        padding-left: 5px;
        padding-right: 5px;
    }
    .staff-text-block{
        bottom: 150px;
        left: 430px;
        font-size: 2rem;
        padding-left: 5px;
        padding-right: 5px;
    }
}