* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
header {
    width: 100%;
}
hr.solid{
    border-top: 1px solid rgb(0, 0, 0);
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    margin-top: 20px;
}
hr.image-devider{
        border-top: 1px solid rgb(0, 0, 0);
        max-width: 85%;
        margin-right: auto;
        margin-left: auto;
}
.col {
    padding-left: 400px;
}
.nav-link:hover{
    font-size: 17px;
    opacity: 0.8;
    transition: 0.3s;
}
.header-image {
    text-align: center;
    background-image: url('../Images/about-image.jpg');
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 2vw;
    font-size: 4vh;
    max-width: 100%;
    height: auto;
    font-family: 'Montserrat', sans-serif;
}
ul.breadcrumb {
    text-align: center;
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 1rem;
  }
  ul.breadcrumb li {
    font-size: 1.2rem;
  }
  .staff-emojis{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ">\00a0";
  }
  ul.breadcrumb li a {
    color: #929292;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: #000000;
}
body {
    background: white !important;
    box-sizing: border-box;
}
.text-section {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-size: 2vh;
}
.image-container{
    position: relative;
    text-align: center;
    padding-bottom: 2rem;
}
.menu-image{
    width: 70%;
    height: auto;
    border-radius: 10px;
}
.market-image{
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10px;
}
.flex-box{
    display: block;
    margin-right: auto;
    margin-left: 0;
}
figcaption{
    margin: 16px;
    font-size: 14px;
}
.value-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
    border-radius: 10px;
}
.image-text{
    margin-top: 10px;
    padding-left: 40px;
    font-size: 15px;
    margin-right: 40px;
    margin-left: 0;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.25);
    padding-right: 15px;
    border-radius: 10px;
}
.centered>a {
    background:
        linear-gradient(to right,
            rgb(255, 255, 255),
            rgb(255, 255, 255)),
        linear-gradient(to right,
            rgb(0, 0, 0),
            rgba(41, 41, 41, 0.774),
            rgb(48, 48, 48));
    color: rgb(255, 255, 255);
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
    text-decoration: none;
    font-size: 2rem;
}
.centered>a:hover {
    background-size: 0 3px, 100% 3px;
    color: white;
    text-shadow: 2px 2px black;
}
h3{
    text-decoration: underline;
    text-align: center;
}
p{
    font-size: 14px;
}
.button{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 8px;
}
.button:hover{
    color: #929292;
    text-decoration: underline;
}
.brands-section {
    text-align: center;
}
.carousel-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
}
.carousel-inner{
    border-radius: 10px;
}
.footer-container {
    max-width: 130vw;
    margin: 0 auto;
}
footer {
    margin-top: 40px;
    margin-left: 5%;
    bottom: 0;
    border-top: 0.2vh solid #dee2e6;
    padding: 2rem 0rem 2rem 0rem;
    font-size: 2.5rem;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
}
.footer-flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.footer-text-box {
    margin-left: 2rem;
}
.footer-text{
    font-size: 18px;
}
.icons {
    display: flex;
    gap: 1.5rem;
    margin-right: 2rem;
}
.icon {
    height: 2rem;
    width: 2rem;
    color: black;
}
.twitter:hover {
    fill: #1da1f2;
}
.instagram:hover {
    color: #fff;
    background: #d6249f;
    border-radius: 7px;
    background: radial-gradient(circle at 30% 107%,
            #fdf497 0%,
            #fdf497 5%,
            #fd5949 45%,
            #d6249f 60%,
            #285aeb 90%);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}
.facebook:hover {
    fill: #4267b2;
}

@media (min-width: 768px) {
    .flex-box{
        display: flex;
    }
    .value-image{
        margin-left: 60px;
        width: 50%;
    }
    .text-section{
        margin-left: 70px;
        margin-right: 70px;
    }
    .staff-emojis{
        width: 10%;
    }
    .row{
        padding-left: 100px;
        padding-right: 100px;
    }
    .centered>a{
        font-size: 3rem;
    }
    .market-image{
        width: 50%;
    }
    figcaption{
        padding: 0 100px;   
    }
}
@media (min-width: 1024px) {
    .flex-box{
        margin-left: auto;
        padding-left: 64px;
    }
    .image-text{
        margin-right: 80px;
        margin-left: 0;
    }
    .value-image{
        width: 40%;
    }
    hr.image-devider{
        max-width: 75%;
    }
    .row{
        padding-left: 200px;
        padding-right: 200px;
    }
    .staff-emojis{
        width: 7%;
    }
    .menu-image{
        width: 90%;
        padding: 5px;
    }
    .image-container{
        float: left;
        width: 33.33%;
        position: relative;
        text-align: center;
        padding-bottom: 2rem;
    }
    .centered>a{
        font-size: 2rem;
    }
    .carousel-box{
        width: 50%;
    }
    figcaption{
        padding: 0 130px;
    }
}
@media (min-width: 1440px) {
    .header-image{
        font-size: 7vh;
    }
    .text-section{
        font-size: 1.2rem;
        margin-left: 150px;
        margin-right: 150px;
    }
    .value-image{
        width: 30%;
        margin-left: 250px;
    }
    .image-text{
        margin-right: 400px;
        margin-left: 0px;
    }
    p{
        font-size: 1rem;
    }
    hr.image-devider{
        max-width: 55%;
    }
    .row{
        padding-left: 400px;
        padding-right: 400px;
    }
    .staff-emojis{
        width: 5%;
    }
    .carousel-box{
        width: 35%;
    }
    .centered>a{
        font-size: 3rem;
    }
    .menu-image{
        width: 80%;
    }
    figcaption{
        padding: 0 330px;
        font-size: 16px;
    }
    .market-image{
        width: 30%;
    }
}
@media (min-width: 1680px){
    .value-image{
        width: 20%;
        margin-left: 450px;
    }
    hr.image-devider{
        max-width: 45%;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .image-text{
        margin-right: 500px;
    }
    .text-section{
        margin-left: 500px;
        margin-right: 500px;
    }
    hr.solid{
        max-width: 45%;
    }
    .row{
        padding-left: 600px;
        padding-right: 600px;
    }
    .staff-emojis{
        width: 4%;
    }
    figcaption{
        padding: 0 532px;
    }
}