* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header {
    width: 100%;
}
hr.solid {
    border-top: 1px solid rgb(0, 0, 0);
    max-width: 40%;
    margin-right: auto;
    margin-left: auto;
    margin-top: -20px;
}
.about-image {
    text-align: center;
    background-image: url('../Images/about-image.webp');
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 2vw;
    font-size: 7vh;
    max-width: 100%;
    height: auto;
    font-family: 'Montserrat', sans-serif;
}
ul.breadcrumb {
    text-align: center;
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
  }
  ul.breadcrumb li {
    font-size: 18px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ">\00a0";
  }
  ul.breadcrumb li a {
    color: #929292;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: #000000;
  }
body {
    background: white !important;
    box-sizing: border-box;
}
.text-section {
    text-align: center;
    margin-left: 30vw;
    margin-right: 30vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-size: 2vh;
}
.image-container {
    float: left;
    width: 33.33%;
    position: relative;
    text-align: center;
}
.flex-box{
    display: flex;
    margin-top: 60px;
    margin-left: 500px;
}
.image-text{
    margin-top: 10px;
    padding-left: 20px;
    margin-right: 500px;
    font-size: 1rem;
}
h3{
    text-decoration: underline;
    text-align: center;
}
h4{
    text-align: center;
}
.button{
    background-color: rgba(128, 128, 128, 0.747);
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-left: 6rem;
}
.button:hover{
    color: black;
    background-color: rgba(41, 41, 41, 0.774);
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.25);
    padding-right: 15px;
}
.centered>a {
    background:
        linear-gradient(to right,
            rgb(255, 255, 255),
            rgb(255, 255, 255)),
        linear-gradient(to right,
            rgb(0, 0, 0),
            rgba(41, 41, 41, 0.774),
            rgb(48, 48, 48));
    color: rgb(255, 255, 255);
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
    text-decoration: none;
    font-size: 4rem;
}
.centered>a:hover {
    background-size: 0 3px, 100% 3px;
    color: white;
    text-shadow: 2px 2px black;
}
.brands-section {
    text-align: center;
}
.carousel-box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.footer-container {
    max-width: 130vw;
    margin: 0 auto;
}
footer {
    margin-top: 40px;
    margin-left: 2.5rem;
    bottom: 0;
    border-top: 0.2vh solid #dee2e6;
    padding: 2rem 0rem 2rem 0rem;
    font-size: 1.5rem;
    max-width: 85vw;
    display: flex;
    justify-content: space-between;
}
.footer-flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.footer-text-box {
    margin-left: 2rem;
}
.icons {
    display: flex;
    gap: 1.5rem;
    margin-right: 2rem;
}
.icon {
    width: 2.4rem;
    color: black;
}
.twitter:hover {
    fill: #1da1f2;
}
.instagram:hover {
    color: #fff;
    background: #d6249f;
    border-radius: 7px;
    background: radial-gradient(circle at 30% 107%,
            #fdf497 0%,
            #fdf497 5%,
            #fd5949 45%,
            #d6249f 60%,
            #285aeb 90%);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}
.facebook:hover {
    fill: #4267b2;
}
@media (min-width: 320px) {}

@media (min-width: 480px) {}

@media (min-width: 768px) {}