*{
    margin: 0;
    padding: 0;
    font-family: Poppins,sans-serif;
    box-sizing: border-box;
}

body{
    background: #fff!important;
    box-sizing: border-box}

header{
    width: 100%;
}

hr.solid{
    border-top: 1px solid #000;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    margin-top: 20px;
}

hr.image-devider{
    border-top: 1px solid #000;
    max-width: 85%;
    margin-right :auto;
    margin-left: auto;
}

.navbar-brand{
    position: absolute;
    left: 50%;
    margin-left: -50px;
    display: block;
}

.nav-link:hover{
    text-decoration: underline;
    opacity: .8;
    transition: .3s;
}

.header-image{
    text-align: center;
    background-image: url(../Images/about-image.jpg);
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 2vw;
    font-size: 4vh;
    max-width: 100%;
    height: auto;
    font-family: Montserrat,sans-serif;
}

ul.breadcrumb{
    text-align: center;
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 1rem;
}

.my-block{
    margin-top: 100px;
    text-align: center;
}

.underconstruction-list{
    list-style-type: none;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 200px;
    margin-right: 40px;
}

.underconstruction-link{
    text-decoration: none;
    color: #000;
    background-color: rgba(0,0,0,.041);
    border-radius: 5px;
}

.underconstruction-link:hover{
    color: rgb(7, 172, 103);
    text-decoration: underline;
}

ul.breadcrumb li{
    font-size: 1.2rem;
}

.staff-emojis{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

ul.breadcrumb li+li:before{
    padding: 8px;
    color: #000;
    content: ">\00a0";
}

ul.breadcrumb li a{
    color: #929292;
    text-decoration: none;
}

ul.breadcrumb li a:hover{
    color: #000;
}

.text-section{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-size: 2vh;
}

.image-container{
    position: relative;
    text-align: center;
    padding-bottom: 2rem;
}

.menu-image{
    width: 70%;
    height: auto;
    border-radius: 10px;
}

.market-image{
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10px;
}

.flex-box{
    display: block;
    margin-right: auto;
    margin-left: 0;
}

figcaption{
    margin: 16px;
    font-size: 14px;
}

.value-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
    border-radius: 10px;
}

.image-text{
    margin-top: 10px;
    padding-left: 40px;
    font-size: 15px;
    margin-right: 40px;
    margin-left: 0;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,.25);
    border-radius: 10px;
}

.centered>a{
    background: 
    linear-gradient(to right,#fff,#fff),
    linear-gradient(to right,#000,rgba(41,41,41,.774),#303030);
    color: #fff;
    background-size: 100% 3px,0 3px;
    background-position: 100% 100%,0 100%;
    background-repeat: no-repeat;
    transition: background-size .4s;
    text-decoration: none;
    font-size: 2rem;
}

.centered>a:hover{
    background-size: 0 3px,100% 3px;
    color: #fff;
    text-shadow: 2px 2px #000;
}

h3{
    text-decoration: underline;
    text-align: center;
    padding-right: 30px;
}

p{
    font-size: 14px;
}
.button{
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 8px;
}

.button:hover{
    color: #929292;
    text-decoration: underline;
}

.brands-section{
    text-align: center;
}

.carousel-box{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 70%;
    height: auto;
}

.carousel-inner{
    border-radius: 10px;
}

.footer-container{
    max-width: 130vw;
    margin: 0 auto;
}

footer{
    margin-top: 40px;
    margin-left: 5%;
    bottom: 0;
    border-top: .2vh solid #dee2e6;
    padding: 2rem 0 2rem 0;
    font-size: 2.5rem;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.footer-flex{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-text-box{
    margin-left: 1rem;
}

.footer-text{
    font-size: 14px;
}

.icons{
    display: flex;
    gap: 1.5rem;
    margin-left: 3rem;
}

.icon{
    height: 1.5rem;
    width: 1.5rem;
    color: #000;
}

.twitter:hover{
    fill: #1da1f2;
}

.instagram:hover{
    color: #fff;
    background: #d6249f;
    border-radius: 7px;
    background: radial-gradient(circle at 30% 107%,
    #fdf497 0,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%);
    box-shadow: 0 3px 10px rgba(0,0,0,.25);
}

.facebook:hover{
    fill: #4267b2;
}

.newsletter-link{
    font-size: 14px;
    text-decoration: none;
    color: #000;
    margin-left: 1rem;
}

input[type=password],input[type=text]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=password]:focus,input[type=text]:focus{
    background-color: #ddd;
    outline: 0;
}

hr{
    border:1px solid #f1f1f1;
    margin-bottom: 25px
}

button{
    background-color: #151a188c;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: .9;
}

button:hover{
    opacity: 1;
}

.signupbtn{
    float: left; width:50%;
}

.container{
    padding: 16px;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

.newsletter-link:hover{
    text-decoration: underline;
    opacity: .8;
    transition: .3s;
    color: #2e2e2e;
}

@media screen and (max-width:300px){
    .signupbtn{
        width: 100%;
    }
}

@media (min-width:768px){
    .flex-box{
        display: flex;
    }
    .value-image{
        margin-left: 60px;
        width: 50%;
    }
    .text-section{
        margin-left: 70px;
        margin-right: 70px;
    }
    .staff-emojis{
        width: 10%;
    }
    .row{
        padding-left: 100px;
        padding-right: 100px;
    }
    .centered>a{
        font-size: 3rem;
    }
    .market-image{
        width: 50%;
    }
    figcaption{
        padding: 0 100px;
    }
    .icons{
        margin-left: 10rem;
    }
    .icon{
        width: 2rem;
        height: 2rem;
    }
    .newsletter-link{
        margin-left: 6rem;
    }
}

@media (min-width:1024px){
    .flex-box{
        margin-left: auto;
        padding-left: 64px;
    }
    .image-text{
        margin-right: 80px;
        margin-left: 0;
    }
    .value-image{
        width: 40%;
    }
    hr.image-devider{
        max-width: 75%;
    }
    .row{
        padding-left: 200px;
        padding-right: 200px
    }
    .staff-emojis{
        width: 7%;
    }.menu-image{
        width: 90%;
        padding: 5px;
    }
    .image-container{
        float: left;
        width: 33.33%;
        text-align: center;
        padding-bottom: 2rem;
    }
    .centered>a{
        font-size: 2rem;
    }
    .carousel-box{
        width: 50%;}
        figcaption{
            padding: 0 130px;
        }
        .icons{
            margin-left: 13rem;
        }
    }
    
    @media (min-width:1440px){
        .header-image{
            font-size: 7vh;
        }
        .text-section{
            font-size: 1.2rem;
            margin-left: 150px;
            margin-right: 150px;
        }
        .value-image{
            width: 30%;
            margin-left: 250px;
        }
        .image-text{
            margin-right: 400px;
            margin-left:0;
        }
        p{
            font-size: 1rem;
        }
        hr.image-devider{
            max-width: 55%;
        }
        .row{
            padding-left: 400px;
            padding-right: 400px;
        }
        .staff-emojis{
            width: 5%;
        }
        .carousel-box{
            width: 35%;
        }
        .centered>a{
            font-size: 3rem;
        }
        .menu-image{
            width: 80%;
        }
        figcaption{
            padding: 0 330px;
            font-size: 16px;
        }
        .market-image{
            width: 30%;
        }
        .newsletter-link{
            font-size: 16px;
        }
        .footer-text{
            font-size: 16px;
        }
    
    }@media (min-width:1680px){
        .value-image{
            width: 20%;
            margin-left: 450px;
        }
        hr.image-devider{
            max-width: 45%;
            margin-top: 40px;
            margin-bottom: 40px;
        }
        .image-text{
            margin-right: 500px;
        }
        .text-section{
            margin-left: 500px;
            margin-right: 500px;
        }
        hr.solid{
            max-width: 45%;
        }
        .row{
            padding-left: 600px;
            padding-right:600px;
        }
        .staff-emojis{
            width: 4%;
        }
        figcaption{
            padding: 0 532px;
        }
    }