*{
    background-image: url('../Images/404pagenotfound.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.my-block {
    margin-top: 100px;
    text-align: center;
    margin-left: 30px;
}

.underconstruction-list{
    list-style-type: none;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 260px;
}

.underconstruction-link{
    text-decoration: none;
    color: black;
    background-color: rgba(0, 0, 0, 0.041);
    border-radius: 5px;
}

.underconstruction-link:hover{
    font-size: 24px;
    transition: 0.3s;
    color: #000000;
}