

.section-form {
  padding: 14.8rem 0 7rem;
  
}

.form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #9f9f9f; 
  box-shadow: 2.4rem 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  overflow: hidden;

  background-image: x-gradient(to right bottom, #eb984e, #e67e22);
}

.form-container{
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.form-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}

.form .heading-secondary {
  color: inherit;
  margin-bottom: 3.2rem;
}

.form-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.form-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("../assets/form-shoes.jpg");
  background-size: cover;
  background-position: center;
}

.form-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.form-layout label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
  font-family: inherit;
}

.form-layout input,
.form-layout select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.form-layout input::placeholder {
  color: #aaa;
}

.form *:focus {
  outline: none;
  /* outline: 4px dotted #e67e22; */
  /* outline-offset: 8px; */
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

.btn--form {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: #fff;
  color: #555;
}