$textColor: #333;
$lineHeight: 1.2;
$fontSizeStandard: 2.2rem;
$marginTop: 2.6rem;
$responsiveContainer: min(100% - 2rem, 130rem);
$transitionTime: all 0.4s;
$marginAuto: 0 auto;
$borderRadiusStandard: 4px;
$fontSizeNav: 1.8rem;