@use "../sass/variables";
@use "../sass/mixin";
@use "../sass/header";
@use "../sass/form";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

.section-hero {
  padding: 14.5rem 0 7rem 0;
}



.container {
  @include mixin.gridContainer(1fr 1.2fr);
  
  width: variables.$responsiveContainer;
  margin-inline: auto;
  padding: 0 3.2rem;
}

.karusell{
  justify-content: start;
}

h2 {
  align-self: center;
  font-size: 3.2rem;
  color: variables.$textColor;
  line-height: variables.$lineHeight;
}

.latest-fashion {
  margin-top: variables.$marginTop;
  font-size: variables.$fontSizeStandard;
  color: variables.$textColor;
  line-height: variables.$lineHeight;
}

.offer {
  font-size: variables.$fontSizeStandard;
  margin-top: variables.$marginTop;
  text-transform: uppercase;
  color: variables.$textColor;
  line-height: variables.$lineHeight;
}

.number {
  font-size: 3rem;
  font-weight: 700;
  color: #222;
}

.free-return {
  color: variables.$textColor;
  font-size: variables.$fontSizeStandard;
  margin-top: variables.$marginTop;
  line-height: variables.$lineHeight;
}




.groups-text {
  @include mixin.flexCenter(row, space-around);
  margin-top: variables.$marginTop;
  font-size: variables.$fontSizeStandard;
}

.groups-img {
  @include mixin.flexCenter(row, space-around);
  margin: 2rem 0;
}

.img {
  margin: 5vh auto;
  width: 55% !important;
  height: 60% !important;
  border-radius: variables.$borderRadiusStandard;
}

.hero-text {
  @include mixin.flexCenter(column, none);
  margin: 5vh 3vw 0rem 3vw;
}

.img-text:link,
.img-text:visited {
  border-radius: 4%;
  padding: 0.2rem 1.2rem;
  background-color: black;
  color: white;
  text-decoration: none;
  @include mixin.flexCenter(row, none);
  gap: 0.5rem;
  transition: variables.$transitionTime;

  &:hover,
  &:active {
    padding: 0.2rem 1.2rem;
    opacity: 50%;
    text-decoration: none;
  }
}

.arrow {
  width: 1.9rem;
}

.img-round {
  width: 15%;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.9);
  transition: variables.$transitionTime;

  &:hover {
    transform: scale(1.2);
    box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.9);
  }
}

.footer-container {
  width: min(100% - 2rem, 130rem);
  margin: variables.$marginAuto;
}

footer {
  border-top: 0.2vh solid #dee2e6;
  margin: variables.$marginAuto;
  padding: 2rem 0rem 2rem 0rem;
  font-size: variables.$fontSizeStandard;
  width: variables.$responsiveContainer;
  @include mixin.flexCenter(row, space-between);
}

.footer-flex {
  @include mixin.gridContainer(repeat(2, 1fr));
}

.footer-text-box {
  margin-left: 2rem;
}

.footer-text {
  font-size: variables.$fontSizeStandard;
  font-weight: bold;
}

.icons {
  @include mixin.flexCenter(row, none);
  gap: 1.5 rem;
  margin-right: 2rem;
}

.icon {
  border-radius: variables.$borderRadiusStandard;
  width: 3.4rem;
  height: 3.4rem;
  color: black;
  margin-right: 1rem;
  transition: variables.$transitionTime;
  margin-right: 1.3rem;
}

.twitter:hover {
  fill: #1da1f2;
}

.instagram:hover {
  color: #fff;
  background: #d6249f;
  border-radius: variables.$borderRadiusStandard;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

.facebook:hover {
  fill: #4267b2;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  border: none;
  cursor: pointer;
  font-family: inherit;

  
  transition: all 0.3s;
}

.img-construction{
  width: 100vw;
  height: 100vh;
  position: relative;
}

.back-link:link,
.back-link:visited{
  position: absolute;
  top: 18vh;
  right:38vw;
  font-size: 2.5vw;
  text-decoration: none;
  color: black;
}