body{
    background-color: lightgrey;
}
#logo{
    max-width: 50%;
    max-height: 20%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fill 0.5s ease forwards 3.6s;
}
#logo path:nth-child(1){
    stroke-dasharray: 455.4px;
    stroke-dashoffset: 455.4;
    animation: line-anim 2s ease forwards 0.3s;
}
#logo path:nth-child(2){
    stroke-dasharray: 385.6px; 
    stroke-dashoffset: 385.6px;
    animation: line-anim 2s ease forwards 0.6s;  
}
#logo path:nth-child(3){
    stroke-dasharray: 375.6px; 
    stroke-dashoffset:  375.6;
    animation: line-anim 2s ease forwards 0.9s;
}
#logo path:nth-child(4){
    stroke-dasharray: 280px;  
    stroke-dashoffset: 280px;
    animation: line-anim 2s ease forwards 1.2s;
}
#logo path:nth-child(5){
    stroke-dasharray: 450px; 
    stroke-dashoffset: 450px;
    animation: line-anim 2s ease forwards 1.5s;
}
#logo path:nth-child(6){
    stroke-dasharray: 416px; 
    stroke-dashoffset: 416px;
    animation: line-anim 2s ease forwards 1.8s;
}
#logo path:nth-child(7){
    stroke-dasharray: 280px;  
    stroke-dashoffset: 280px;
    animation: line-anim 2s ease forwards 2.1s;
}
#logo path:nth-child(8){
    stroke-dasharray: 372.2px; 
    stroke-dashoffset: 372.2px;
    animation: line-anim 2s ease forwards 2.4s;
}
#logo path:nth-child(9){
    stroke-dasharray: 213px; 
    stroke-dashoffset: 213px;
    animation: line-anim 2s ease forwards 2.7s;
}
#logo path:nth-child(10){
    stroke-dasharray: 499px;
    stroke-dashoffset: 499px;
    animation: line-anim 2s ease forwards 3s;
}
#logo path:nth-child(11){
    stroke-dasharray: 450.1px;
    stroke-dashoffset: 450.1px;
    animation: line-anim 2s ease forwards 3.3s;
}
@keyframes line-anim {
    to{
        stroke-dashoffset: 0;
    }
}
@keyframes fill {
    from{
        fill: transparent;
    }
    
    
}
#textarea{
    resize: none;
}
.navigationbar{
    
    gap: 20px;
}
.navlink1:hover{
    color: white;
    margin: 10px;
    transition: 0.5s;
    border-radius: 2px;
    background-color: grey;
}
.navlink2:hover{
    color: white;
    margin: 10px;
    transition: 0.5s;
    border-radius: 2px;
    background-color: grey;
}
.navlink3:hover{
    color: white;
    margin: 10px;
    transition: 0.5s;
    border-radius: 2px;
    background-color: grey;
}
 .card1{
    background-color: darkgrey;
    width: 18rem;
    padding: 10px;
 }
 .card1:hover{
    background-color: darkgrey;
    width: 20rem;
    padding: 10px;
    transition: .5s;
 }
 
 .card2{
    background-color: darkgrey;
    width: 18rem;
    padding: 10px;
 }
 .card2:hover{
    background-color: darkgrey;
    width: 20rem;
    padding: 10px;
    transition: .5s;
 }
 .card3{
    background-color: darkgrey;
    width: 18rem;
    padding: 10px;
 }
 .card3:hover{
    background-color: darkgrey;
    width: 20rem;
    padding: 10px;
    transition: .5s;
 }

 footer{

 }
 @media (max-width: 1200px) {
    #logo{
        top: 35%;
    }
}
    @media (max-width: 993px) {
        #logo{
            top: 25%;
        } 
}
@media (max-width: 769px) {
    #logo{
        top: 20%;
    } 
}
@media (max-width: 515px) {
    #logo{
        top: 15%;
    } 
}
@media (max-width: 405px) {
    #logo{
        display: none;
    } 
}