*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}

.leftcolumn{
    float: left;
    width: 75%;
}
.rightcolumn{
    float: left;
    width: 25%;
    padding-left: 20px;
}

.card{
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    text-align: center; 
}

.material-symbols-outlined{
    color: black;
}

.material-symbols-outlined:hover{
color:#eddbcb;
}
#social-icons a{
padding: 5px;
}

#social-icons div{
    display: flex; 
    align-items: center;
    margin: .8em;
}
 
.input[type=text]{
    background-image: url('img/search.svg');
}

.row{
    padding: 20px;
}


.row:after{
    content:"";
    display: table;
    clear: both;
}

.footer{
    padding: 20px;
    text-align: center;
    background: white;
    margin-top: 20px;
    
    
}
.imagepost{
    background-image: url('img/lemonshoes.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 200px;
    
}

.imagepost2{
    background-image: url('img/shoeplant.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 200px;
    
}

.profile{
    background-image: url('img/profile.svg');
   background-size:contain;
   background-position: center;
   background-repeat: no-repeat;
   padding: 100px;
}


body{
    background: #eddbcb;
    min-height: 100vh;
}

.header{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 0 25px;
    transition: 0.3s;
}
.header ul{
    margin:0;
    padding:0;
}
/*loggan*/
.header-logo{
    width: 80px;
    height: 80px;

}

.header .logo{
   float: left;
   display: block;
   padding: 10px; 
}

.navigation{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    transition: 0.5s;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.menu li{
    list-style-type: none;

}


.menu li a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 40px 25px;
    font-size: 18px;
    line-height: 1;
 
}

.menu li a:hover{
    box-shadow: 500px 0 0 #eddbcb inset;
    padding: 35px 25px 45px 25px;
   
}

.burger{
    position: relative;
    width: 30px;
    height: 3px;
    background: black;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
   
}

.burger:before, .burger:after{
    content:"";
    position: absolute;
    height: 3px;
    right:0;
    background: black;
    border-radius: 10px;
    transition: 0.3s;
}

.burger:before{
    top: -10px;
    width: 30px;
}

.burger:after{
    top: 10px;
    width: 30px;
}

.toggle-menu{
    position: absolute;
    width:30px;
    height:100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
    
}

.burger, .toggle-menu{
    display: none; 
}

.navigation input:checked ~ .burger{
    background: transparent;
}

.navigation input:checked ~ .burger:before{
    top:0;
    transform: rotate(-45deg);
    width: 30px;
}
.navigation input:checked ~ .burger:after{
    top:0;
    transform: rotate(45deg);
    width: 30px;
}

.navigation input:checked ~ .menu{
    right: 0;
}

@media(max-width: 991.98px){
    .burger, .toggle-menu{
        display: block; 
    }
    .header{
        padding:20px;
    }

.menu{
    justify-content: start;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    right: -300px;
    background: white;
    width: 300px;
    height: 100%;
    opacity: 0.8;
 }    

 ul.menu{
    padding-top: 65px;
    
 }
    
.menu li{
    width: 100%;
   
    
}
.menu li a {
    font-size: 20px;
    
    
}
}

@media(min-width: 991.98px){
/*carousel*/
.carousel-item{
    height: 40rem;
    color: white;
    background: black;
    background-size: cover;
    position: relative;
    font-family: 'Poppins' , sans-serif;
    font-size: 24px;
   
}

.container{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
}


 .overlay-image{
    position:absolute;
    left: 0;
    right:0;
    top: 0;
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.2726132689403886) 33%),
    url('img/shoesforest.jpg');
    background-position: center;
    background-size: cover;
    bottom: -90px;
    
 }
.overlay-image2{
    position:absolute;
    bottom: 0;
    left: 0;
    right:0;
    top: 0;
    background-image:linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(149,154,154,0.09894380115327384) 32%), url('img/recycleshoes.jpg');
    background-position: center;
    background-size: cover;

}

.carousel-caption{
   left:0;
   text-align: left;
   padding: 20px;
   padding-left: 200px;
   font-family: 'Poppins' , sans-serif;
}


.carousel-caption h2{
margin: 0 -200px;
text-align: right;

}


}
@media(max-width: 991.98px){
.header-logo{
    display: block;
}

.header-image{
position:absolute;
bottom: 0;
left: 0;
right:0;
top: 0;
background-image:linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(149,154,154,0.09894380115327384) 32%), url('img/mobileheader.jpg');
background-position: center;
background-size: cover;
height: 20rem;
}

.mobileheader{
    position: relative;
    height: 20rem;
}

h1{
    color:white;
    text-align: left;
    margin: 0 40px;
    position: absolute;
    bottom: 40px;
    font-size: 24px;
    font-family: 'Poppins' , sans-serif;
    letter-spacing: 3px;  
}

.burger, .burger:after, .burger:before{
    background: black;   
}


}
