.banner-image{
    background-image: url('img/shoesforest.jpg');
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 30rem;
    font-family: 'Poppins' , sans-serif;
    position: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;



}
  

