.carousel-item{
    height: 32rem;
    color: white;
    background: black;
    position: relative;
    font-family: 'Poppins' , sans-serif;
    font-size: 24px;
  
}

.container{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    padding-bottom: 150px;


    
}
 .overlay-image{
    position:absolute;
    bottom: 0;
    left: 0;
    right:0;
    top: 0;

    background-image: url('img/shoesforest.jpg');
    background-position: center;
    background-size: cover;
    bottom: -90px;
    
}


.overlay-image2{
    background-image: url('img/recycleshoes.jpg');
}

