*{
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: rgb(138, 24, 24);
    padding: 2rem 2rem 2rem 2rem;
    color: white;
    text-shadow: 2px 2px black;
}
body{
    background-color: rgb(240, 62, 62);
}
nav {
    color: white;
    font-size: 20px;
    overflow: hidden;
    background-color: rgb(172, 21, 21);
    position: relative;
    text-shadow: 2px 2px black;
}
a:hover{
    background-color: rgb(138, 24, 24);
}
a:link {
    color: white;
    text-decoration: none;
}
a:visited{
    color: gray;
}
a:active{
    color:darkred;
}
section {
    color: white;
    padding: 2 rem;
    overflow: hidden;
    text-shadow: 2px 2px black;
}
article{
    float: left;
    width: 29%;
    background-color: rgb(109, 14, 14);
    padding: 2rem;
    margin: 6px;
    text-shadow: 2px 2px black;
    color: white;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(138, 24, 24);
}