/* ******************************* */
/* Below 1248px - Smaller desktops*/
/* ******************************* */

@media (max-width: 80em) {
  html {
    font-size: 57%;
  }
}

/* ******************************* */
/* Below 1152px - Landscape Tablets */
/* ******************************* */

@media (max-width: 72em) {
  html {
    font-size: 50%;
  }


  h2 {
    font-size: 3rem;
  }

 .container{
  margin-top: 2rem;
 }

  .hero-text {
    margin: 3vh 2vh;
  }

  .media-size {
    font-size: 2.2rem;
  }

  .number {
    font-size: 2.9rem;
  }

  .groups-text {
    margin-top: 3.8rem;
  }
}

/* ******************************* */
/* Below 944px (Tablets) */
/* ******************************* */

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

 

  .hero-text {
    margin: 5vh 1vh 0 10vh;
  }

  .img{
    width: 70% !important;
  }

  h2 {
    font-size: 2.6rem;
  }

  .media-size {
    font-size: 2rem;
  }

  .offer {
    margin-top: 1rem;
  }

  .free-return {
    margin-top: 1rem;
  }



  .groups-text {

    align-items: center;
    font-size: 2rem;
  }

  .groups-img {
    gap: 2rem;
  }

  .img-round {
    width: 20%;
  }
}

/* ******************************* */
/* Below 800px (smaller tablets) */
/* ******************************* */

@media (max-width: 50em) {
   html{
    font-size: 44%;
   }

    .container{
      grid-template-columns: 1fr;
    }

  .karusell {
    margin: 0 auto;
  }

  .img{
    width: 60% !important;
  }

.hero-text{
  margin: 5vh 10vh;
}

  h2 {
    font-size: 3.2rem;
  }

  .media-size {
    font-size: 2.3rem;
  }

  .latest-fashion,
  .offer,
  .free-return {
    margin-top: 3.2rem;
  }

  .groups-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 2rem 0;
  }

  .groups-img {
    flex-direction: row;
    grid-row: 2;
    justify-content: center;
    margin: 2rem 0rem;
    justify-content: space-around;
  }

  .groups-text {
    flex-direction: row;
    font-size: 2.3rem;
    justify-content: space-around;
  }

  .img-round {
    width: 15%;
  }

  .header-logo {
    width: 50% !important;
  }
}

/* ******************************* */
/* Below 600px (Phones) */
/* ******************************* */
@media (max-width: 38em) {

html{
  font-size: 40%;
}


  .container {
    grid-template-columns: 1fr;
    gap: 2.9rem;
    overflow: hidden;
  }

 

  h2 {
    font-size: 6rem;
  }

  

  .hero-text{
    margin: 5vh 5vh;
  }

  .media-size {
    font-size: 3.6rem;
  }

  .number {
    font-size: 4.2rem;
  }

  .groups-text {
    font-size: 3.6rem;
  }

  

  .img-round {
    width: 17%;
  }

  .header-logo {
    width: 100%;
  }
}

/* Meny för mobil */

@media (min-width: 48em) {
  .header li {
    float: left;
  }

  .header li a {
    padding: 20px 25px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }

 
}
